.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: stretch;

    width: 100%;
    height: 100%
}

[type="button"] {
    cursor: pointer;
    background-color: #d84a38;
    border-radius: 2px;
    border: none;
    color: white;
    padding: 5px 10px;
    display: inline-block;
}

.controls {
    text-align: center;
}

[type="button"] + [type="button"] {
    margin-left: 10px;
}