.chat {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.chat > ul {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;

    overflow-y: scroll;
}

.to {
    color: blue;
}

.from {
    color: brown;
}

.input-value {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    padding: 10px;
}

.input-value [type="text"] {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}